<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>938285697107-5i0qcjpdukoup9thkd42ojo97lnql30i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.938285697107-5i0qcjpdukoup9thkd42ojo97lnql30i</string>
	<key>API_KEY</key>
	<string>AIzaSyDhXoEAsqw_AQY-oia-OYIyvc3i1_7hcEs</string>
	<key>GCM_SENDER_ID</key>
	<string>938285697107</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mondayoff.pinball</string>
	<key>PROJECT_ID</key>
	<string>pinball-pong</string>
	<key>STORAGE_BUCKET</key>
	<string>pinball-pong.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:938285697107:ios:a5b2b6060bb79d5468dea6</string>
</dict>
</plist>